body:not(#data) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  background-color: #8e9493;
  margin: 0;
}

#heading {
  width: 100vw;
}



#thunderstorm, #cloudy-snow, #rain, #clear-day {
  font-size: 56px;
  margin-top: 10px;
  margin: 10px 10px 0 10px;
}

h1 {
  font-family: "Baloo 2", cursive;
  font-size: 60px;
  font-weight: 500;
  color: #c8d3d4;
  background-color: #3e3f3f;
  text-align: center;
  margin: 0;
}

input {
  height: 30px;
  width: 260px;
  border: 1px solid #e5e7eb;
  border-radius: 5px;
}

*:focus {
  outline: none;
}

input:focus {
  height: 30px;
  width: 260px;
  border: 1px solid rgb(88, 77, 77);
  border-radius: 5px;

}

#search-btn {
  height: 32px;
  width: 100px;
  border-radius: 4px;
  border: 0;
  background-color: #f0f0f0;
}

#search-btn:hover {
  background-color: #e0e0e0;
}

#search-btn:focus {
  outline: 1px solid rgb(88, 77, 77);
}

#search-btn:active {
  transform: scale(0.95);
}

.city,
h2,
span,
.temp-btn {
  font-size: 36px;
  margin: 0;
  padding: 0;
}

#search {
  position: relative;
  left: 21%;
  margin-bottom: 20px;
  margin-top: 20px;
}

#data {
  width: 540px;
  height: 670px;
  padding: 50px;
  display: grid;
  grid-template-rows: 1fr 2fr;
  color: rgb(63, 54, 54);
  border: 2px solid #a5a5a5;
  border-radius: 14px;
  
}

#top {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#region {
  display: grid;
  gap: 30px;
}

#co-ord {
  margin-bottom: 50px;
}
.country {
  font-size: large;
}

.lon {
  margin: 0;
}

.lat {
  margin-bottom: 0;
}

#date {
  text-align: right;
}

#main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 40px;
}

#temp-main {
  display: flex;
  gap: 10px;
}

.celsius,
.fahrenheit {
  border: none;
  background-color: white;
  color: #969494;
  padding: 0;
}

.celsius:hover,
.fahrenheit:hover {
  color: rgb(82, 82, 82);
}

.select,
.fahrenheit:disabled,
.celsius:disabled {
  color: black;
}

.temp-range {
  display: flex;
  gap: 130px;
}

.max,
.min {
  margin: 0;
  font-size: 24px;
}

#weather {
  text-align: right;
}

#minor {
  margin-top: 52px;
}

#temp-main,
.temp-range,
.temp-btn {
  font-family: "Stick No Bills", sans-serif;
}

.temp,
.temp-btn,
.bar {
  font-size: 60px;
}

.temp {
  font-weight: 500;
}

.temp-btn,
.bar {
  font-weight: 300;
}

.temp-btn {
  background-color: #11ffee00;
}

.city,
.country,
.weather-type,
.descr {
  font-family: "Exo", sans-serif;
}

.city,
.weather-type {
  font-size: 48px;
  font-weight: 400;
}

.country,
.descr {
  font-size: 28px;
  margin-top: 8px;
  margin-bottom: 0;
}

.lat,
.lon,
#minor {
  font-family: "Nunito Sans", sans-serif;
  font-size: 18px;
  font-weight: 600;
}

#date {
  font-family: "Baloo 2", cursive;
  font-size: 18px;
}
